<!-- Magic Shortcodes - proof of concept -->
<!-- Enabled Debug in 'basic' mode to view all available types -->


<!-- Page Content -->
<section class="py-5">
  <div id="main-content" class="container px-5">

    <!-- Page Heading/Breadcrumbs -->
    {ALERTS}
    
    <h1 class="fw-bolder fs-5 mb-4">Company Blog</h1>
    <div class="card border-0 shadow rounded-3 overflow-hidden">
      <div class="card-body p-0">
        <div class="row gx-0">
          <div class="col-lg-6 col-xl-5 py-lg-5">
            <div class="p-4 p-md-5">
              <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
              <div class="h2 fw-bolder">Article heading goes here</div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus ab doloremque, qui doloribus ea officiis...</p>
              <a class="stretched-link text-decoration-none" href="#!">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-6 col-xl-7">
            <div class="bg-featured-blog" style="background-image: url('https://dummyimage.com/700x350/343a40/6c757d')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container px-5">
    <div class="row gx-5">
      <div class="col-xl-8">
{---}        
      </div>
      <div class="col-xl-4">
        <div class="card border-0 h-100">
          <div class="card-body p-4">
            <div class="d-flex h-100 align-items-center justify-content-center">
              <div class="text-center">
                <div class="h6 fw-bolder">{LAN=LAN_THEME_13}</div>
                <p class="text-muted mb-4">
                  <address>{GLYPH=fas fa-map-marker-alt} <span>{LAN=LAN_THEME_14}</span>{FITNESS_CONTACT_ADDRESS}</address>
                </p>
                <p class="text-muted mb-4">
                  <div class='phone'>{GLYPH=fas fa-mobile-alt} <span>{LAN=LAN_THEME_15}</span>{FITNESS_CONTACT_PHONE1}</div>
                </p>
                <p class="text-muted mb-4">
                  <div class='email'>{GLYPH=fas fa-at} <span>{LAN=LAN_THEME_16}</span>{FITNESS_CONTACT_EMAIL1}</div>
                </p>
                <div class="h6 fw-bolder">{LAN=LAN_THEME_17}</div>
                <div class="fs-5 px-2 link-dark">{XURL_ICONS}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
<section class="py-5">
  <div class="container px-5">
    <h2 class="fw-bolder fs-5 mb-4">Featured Stories</h2>

  </div>
<!-- Blog preview section-->
</section>

<!-- /.container -->