<!-- Layout: singleportfolio -->

<!-- Page Content -->
<section class="py-5">
  <div class="container px-5 my-5">
 

    <!-- Page Heading/Breadcrumbs -->
    {ALERTS}
    {---BREADCRUMB---}
  
  
    <!-- Portfolio page -->
    <div class="text-center mb-5">
      <h1 class="fw-bolder">Our Work</h1>
      <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
    </div>
    <div class="row gx-5">
      {SETSTYLE=portfolio}
	  {SETIMAGE: w=350&h=200&crop=1}
	  {GALLERY_PORTFOLIO: placeholder=1&category=2&limit=12}
    </div>
  </div>
</section>
{---}
<section class="py-5 bg-light">
  <div class="container px-5 my-5">
    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
    <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
  </div>
</section>   
    
     